<div class="container mt-3 pb-2 shadow-lg">
  <div class="row">
    <div class="d-flex justify-content-center p-3">
      <h4 class="align-self-center">總金額：</h4>
      <h1>{{totalAmount}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-4 mx-auto pb-4">
      <form action="">
        <select class="form-select" aria-label="Default select example">
          <option selected>類別</option>
          {{#each categories}}
          <option value="">{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <a href="" class="col-6 col-sm-3 mx-auto btn btn-primary">新增支出</a>
  </div>

  <div class="row" id="data-panel">
    <div class="col col-md-10 mx-auto mt-3">
      <table class="table table-striped">
        <tbody>
          {{#each records}}
          <tr class="align-middle">
            <td class="text-center">
              <i class="{{#eq this.name ../categories.name}} {{../categories.icon}} {{/eq}}"></i>
            </td>
            <td>
              <h3>{{this.name}}</h3>
            </td>
            <td>
              <h2>{{this.amount}}</h2>
            </td>
            <td>
              <div class="d-md-flex justify-content-around">
                <a href="" class="btn btn-outline-info">Edit</a>
                <form action="" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>