<div class="container mt-3 pb-2 shadow-lg">
  <div class="row">
    <div class="d-flex justify-content-center p-3">
      <h4 class="align-self-center">總金額：</h4>
      <h1>{{totalAmount}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-4 mx-auto pb-4">
      <form action="/">
        <select class="form-select"  name="category" onchange="submit()">
          <option selected>所有類別</option>
          {{#each categories}}
          <option {{#is ../categoryChosen ./this.name }}selected{{/is}}>{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <a href="/records/new" class="col-6 col-sm-3 mx-auto btn btn-primary">新增支出</a>
  </div>

  <div class="row" id="data-panel">
    <div class="col col-md-10 mx-auto mt-3">
      <table class="table table-striped">
        <tbody>
          {{#each records}}
          <tr class="align-middle">
            <td class="text-center">
              <i class="{{#forEach ../categories}} {{#eq name ../this.category}} {{icon}} fa-2x {{/eq}} {{/forEach}}"></i>
            </td>
            <td>
              <div>
                <h3>{{this.name}}</h3>
                <i class="fas fa-map-marker-alt"><small> {{this.merchant}}</small></i><br>
                <i class="far fa-calendar-alt"><small> {{this.date}}</small></i>
              </div>
            </td>
            <td class="">
              <div class="d-flex justify-content-center">
                <h2>{{this.amount}}</h2>
              </div>
            </td>
            <td>
              <div class="d-md-flex justify-content-around">
                <a href="/records/{{ this._id }}/edit" class="btn btn-outline-info">Edit</a>
                <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger" onclick="return confirm(`確定要刪除 {{this.name}} 嗎?`);">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>